<div class="row">
  <div class="col-12">
    <div class="col-12 login-align">
      <h4 class="text-center">Login</h4>
      <form class="form mt-4 login" [formGroup]="loginForm">
        <div class="alert alert-{{classError}} alert-dismissible fade show" role="alert" *ngIf="showMessage">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Digite seu usuário" formControlName="usuario" name="usuario"
            autofocus>
          <small *ngIf="loginForm.get('usuario').errors?.required" class="text-danger d-block mt-2">
            User Name é obrigatório!
          </small>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" placeholder="Digite sua senha" formControlName="senha"
            name="senha">
          <small *ngIf="loginForm.get('senha').errors?.required" class="text-danger d-block mt-2">
            Senha é obrigatório!
          </small>
        </div>

        <button class="btn btn-primary btn-block" (click)="submit()">
          login
        </button>

      </form>

    </div>

  </div>
</div>