<form [formGroup]="categoriaForm">
  <div class="col-12 title-form">
    <h1>Cadastro de Categorias</h1>
  </div>
  <div class="form-group row">
    <label for="inputNomeCategoria" class="col-sm-1 col-form-label">Nome: </label>
    <div class="col-sm-9">
      <input type="nomeCategoria" formControlName="nome" class="form-control" id="nomeCategoria"
        placeholder="Nome da Categoria"[disabled]="disabledInputs" autofocus>
      <small *ngIf="categoriaForm.get('nome').errors?.required" class="text-danger d-block mt-2">
        Password is required!
      </small>
    </div>
  </div>
  <div class="col-12 btn-crud">
    <button class="btn btn-success btn-lg" (click)="saveCategoria()" [disabled]="!save || categoriaForm.invalid">Salvar</button>
    <button class="btn btn-secondary btn-lg" [disabled]="!update">Alterar</button>
    <button class="btn btn-info btn-lg" (click)="search()" data-toggle="modal" data-target="#searchModal" [disabled]="!search">Buscar</button>
    <button class="btn btn-danger btn-lg" [disabled]="!delete">Excluir</button>
  </div>
  <div class="status-tela col-2">
    <label>{{statusTela}}</label>
  </div>
</form>

<app-search [nomeTela]="'Categorias'"></app-search>